/*----------------------------------- containers -----------------------------------*/
.container-body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 200, 200);
  /*font-family: 'Chango', cursive;*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
}

.container-main-content {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-categories {
  min-width: 250px;
  max-width: 250px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.0rem;
  background-color: #333;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}

.container-userdetails {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.0rem;
  min-width: 250px;
  max-width: 250px;
  border-top: 1px solid yellow;
  background-color: #333;
  border-bottom: 1px solid yellow;
}

/*----------------------------------- navbar -----------------------------------*/

.TitleBar {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.border {
  border-top: 10px solid blue;
}

nav li {
  float: left;
}

.nav-search {
  float: left;
  text-align: center;
  line-height: 46px;
}

.NavBarSearchInput {
  padding: 10px 30px;
  width: 250px;
}

.NavBarSearchButton {
  border: none;
  color: black;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
}

.NavBarSearchButton:hover {
  cursor: pointer;
}
nav input:focus {
  background-color: rgb(255, 255, 190);
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 135px;
  margin: 0px 30px;
  text-decoration: none;
  font-weight: bold;
}

nav li a:hover {
  background-color: #555;
  border-radius: 5px;
  text-decoration: underline;
}

nav li a:focus {
  background-color: #555;
}

/*----------------------------------- categories -----------------------------------*/

.categories h3{
  color: white;
  padding-left: 70px;
  text-decoration: underline;
}

.categories ul {
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 50px;
}

.categories li {
  list-style-type: none;
  padding: 10px 0 10px 5px;
  border-bottom: 1px solid #9999;
}

.categories li a {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 5px;
}

.categories li a:hover {
  text-decoration: underline;
}

.categories li a:focus {
  color: yellow;
}

/*----------------------------------- Login -----------------------------------*/
.loginFormDiv {
  color: white;
  padding: 5px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 50px;
}

.loginFormMain {
  margin: 0 auto;
}

.loginFormMain label{
  display: inline-block;
}

.loginFormMain input[type=username],
.loginFormMain input[type=password] {
  padding-left: 10px;
  margin: 10px;
  width: 200px;
  height: 30px;
}

.loginFormMain input[type=submit] {
  align-items: center;
  width: 80px;
  height: 25px;
}

/*----------------------------------- Logout -----------------------------------*/ 

.wholeLogout {
  color: white;
  padding: 5px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 50px;
}

.wholeLogout button {
  align-items: center;
  width: 80px;
  height: 25px;
}

/*----------------------------------- Register -----------------------------------*/

.registerFormDiv {
  color: black;
  padding-top: 30px;
  margin-bottom: 50px;
}

.registerFormMain {
  margin: 0 auto;
  border: 3px solid yellow;
  box-shadow: 5px 5px 5px rgb(48, 48, 48);
  padding: 35px 50px 50px 50px;
}

.registerFormMain label{
  display: inline-block;
}

.registerFormMain input[type=firstname]{
  padding-left: 10px;
  margin: 10px;
  width: 193px;
  height: 30px;
}


.registerFormMain input[type=lastname],
.registerFormMain input[type=username] {
  padding-left: 10px;
  margin: 10px;
  width: 195px;
  height: 30px;
}

.registerFormMain input[type=password] {
  padding-left: 10px;
  margin: 10px;
  width: 200px;
  height: 30px;
}

.registerFormMain input[type=email] {
  padding-left: 10px;
  margin: 10px;
  width: 230px;
  height: 30px;
}

.registerFormMain input[type=submit] {
  align-items: center;
  width: 295px;
  height: 25px;
}

/*----------------------------------- footer -----------------------------------*/
.footer img {
  width: 30px;
  height: 30px;
}
.footer {
  text-align: center;
  min-height: 20px;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333;
}

/*----------------------------------- SingleAdvertise -----------------------------------*/
.wholeProduct {
  background-color: rgb(151, 149, 149);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 5px rgb(48, 48, 48);
  color: white;
  float: left;
  min-height: 500px;
  max-height: 1000px;
  min-width: 200px;
  max-width: 450px;
  margin: 25px 10px 15px 10px;
  padding-left: 5px;
  padding-right:5px;
  text-align: left;
}

.ulProduct {
  list-style: none;
  padding: 10px;
  margin:0px;
}

.title {
  padding-bottom: 10px;
  font-size: 1.4rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.typeName, .descriptionName, .categoryName, .priceName, .ownerName, .commentName, .counterName, .statusName, .messageName, .cityName {
  color: black;
  font-weight: bold;
}

.titleName, .type, .description, .category, .price, .owner, .comment, .counter, .status, .message, .city {
  padding-bottom: 5px;
}

.picture {
  max-height: 250px;
  max-width: 250px;
  /*padding: 10px 0 10px 0;*/
  border: 1px solid black;
  background-size: cover;
  box-shadow: 5px 5px 5px rgb(48, 48, 48);
  margin-bottom:10px;
}

.offerOrange {
  color: orange;
}

.searchBlue {
  color: blue;
}

.availableGreen {
  color: greenyellow;
}

.soldRed {
  color: red;
}

.selectBox {
  width: 385px;
}

/*----------------------------------- ShowAllAdvertises -----------------------------------*/
.textFromWholeProduct {
  color: black;
  margin: 15px 10px 15px 0px;
  padding-left: 15px;
}

.render_showadvertises {
  display:flex;
  flex-wrap:wrap;
}
.categoryTitle {
  text-align: center;
  margin: 5px 0 0;
}

/*----------------------------------- else -----------------------------------*/
.commentButton, .createAdvertiseButton {
  align-items: center;
  width: 120px;
  height: 25px;
}

.saveButtonInEditMode {
  align-items: center;
  width: 80px;
  height: 25px;
}

.editButton, .deleteButton {
  align-items: center;
  width: 80px;
  height: 25px;
}

.commentField input[type=text] {
  padding-left: 10px;
  margin: 10px;
  width: 200px;
  height: 20px;
  background-color: white;
}