/* containers */
.container-body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 200, 200);
  border: solid 1px red;
  font-family: 'Chango', cursive;
}

.container-main-content {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px yellow;
}

.container-categories {
  min-width: 200px;
  max-width: 200px;
  border: solid 1px orange;
  font-size: 14px;
}

.container-userdetails {
  min-width: 200px;
  max-width: 200px;
  border: solid 1px orange;
}

.footer {
  min-height: 20px;
  text-align: center;
  border: solid 1px black;
}
.categories li {
  list-style: none;
}

#showlogo {
  min-width: 200px;
  min-height: 50px;
  border: solid 1px black;
}
/* navbar */
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  margin: 0 5px;
}
/* footer */
.footer img {
  width: 30px;
  height: 30px;
}
.footer {
  text-align: center;
}

/* SingleAdvertise */
.wholeProduct {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px yellow;
  float: left;
  height: 1000px;
  width: 500px;
  margin-right: 25px;
  padding-left: 25px;
}

.picture {
  height: 250px;
  width: 250px;
}

.ulProduct {
  list-style: none;
}