/* containers */
.container-body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 200, 200);
  border: solid 1px red;
  /*font-family: 'Chango', cursive;*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
}

.container-main-content {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px yellow;
}

.container-categories {
  min-width: 200px;
  max-width: 200px;
  border: solid 1px orange;
  font-size: 14px;
}

.container-userdetails {
  min-width: 200px;
  max-width: 200px;
  border: solid 1px orange;
}

.footer {
  min-height: 20px;
  text-align: center;
  border: solid 1px black;
}
.categories li {
  list-style: none;
}

#showlogo {
  min-width: 200px;
  min-height: 50px;
  border: solid 1px black;
}
/* navbar */
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  margin: 0 5px;
}
/* footer */
.footer img {
  width: 30px;
  height: 30px;
}
.footer {
  text-align: center;
}

/* SingleAdvertise */
.wholeProduct {
  background-color: rgb(151, 149, 149);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 5px rgb(48, 48, 48);
  color: white;
  float: left;
  height: 1000px;
  width: 500px;
  margin: 25px 10px 25px 10px;
  padding-left: 25px;
  text-align: left;
}

.ulProduct {
  list-style: none;
}

.title {
  padding-bottom: 10px;
  font-size: 1.4rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.titleName {
  padding-bottom: 10px;
}

.picture {
  height: 250px;
  width: 250px;
  padding: 10px 0 10px 0;
  border: 1px solid black;
  background-size: cover;
  box-shadow: 5px 5px 5px rgb(48, 48, 48);
  margin-bottom: 15px;
}

.type {
  padding-bottom: 10px;
}

.typeName {
  color: black;
  font-weight: bold;
}

.offerOrange {
  color: orange;
}

.searchBlue {
  color: blue;
}

.description {
  padding-bottom: 10px;
}

.descriptionName {
  color: black;
  font-weight: bold;
}

.category {
  padding-bottom: 10px;
}

.categoryName {
  color: black;
  font-weight: bold;
}

.selectBox {
  width: 385px;
}

.price {
  padding-bottom: 10px;
}

.priceName {
  color: black;
  font-weight: bold;
}

.owner {
  padding-bottom: 10px;
}

.ownerName {
  color: black;
  font-weight: bold;
}

.comment {
  padding-bottom: 10px;
}

.commentName {
  color: black;
  font-weight: bold;
}

.counter {
  padding-bottom: 10px;
}

.counterName {
  color: black;
  font-weight: bold;
}

.status {
  padding-bottom: 10px;
}

.statusName {
  color: black;
  font-weight: bold;
}

.availableGreen {
  color: greenyellow;
}

.soldRed {
  color: red;
}

.message {
  padding-bottom: 10px;
}

.messageName {
  color: black;
  font-weight: bold;
}

.city {
  padding-bottom: 10px;
}

.cityName {
  color: black;
  font-weight: bold;
}

/* SingleAdvertise */
.textFromWholeProduct {
  color: black;
  margin: 25px 10px 25px 0px;
  padding-left: 25px;
}